@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style:normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
 height: 100%;
}

body {
 display: flex;
 flex-direction: column;
 height: 100%;
 font-family: "PT Sans", sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 21px;
 color: black;
 background-color: white;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;

}

.page-header {
  color: #000000;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.navigation-list {
  display: flex;

}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-style: inherit;
  background-color:inherit;
  color: inherit;
  text-decoration: none;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-item {
  display: flex;
  padding-left: 30px;
}

.navigation-user {
  margin-left: auto;
}


.main-index-background {
 background-image: url("../images/index-background.jpg");
 display: flex;
 flex-direction: column;
 align-items: center;
 background-size: 100% auto;
 background-repeat: no-repeat;
 position: relative;
}

.main-index-background::after {
  content: "";
  width: 100%;
  display: block;
  height: 57px;
  background: url("../images/background-cut.svg") bottom center no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;


}

.welcome-index-title {
  text-align: center;
  text-transform: uppercase;
}

.under-background-text {
  text-align: center;
}


.advantages {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  text-align: center;

  width: 1200px;
 }

.advantage-row {
  display: flex;
  justify-content: center;
  align-items: center;

}

.advantage-index-title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantage-title {
  text-transform: uppercase;
  color: black;
}

.advantage-number {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color:black;
}

.advantage-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: black;
}

.tips {
  display: flex;

}

.tips-item {
  list-style: none;
  min-height: 384px;
}

.tips-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.tips-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;

}

.search-title {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.search-description {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background: #756257;
  border-radius: 10px;
}

.mailing-container {
  text-align: center;
  background-image: url("../images/mailing-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
}

.mailing-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.mailing-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.mailing-form {
  background: #F2F2F2;
  border-radius: 0 10px 10px 0;
}

.mailing-button {
  background: #83B3D3;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-contacts {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  list-style:none;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer-social-item {
  display: flex;
  padding: 29px;
  flex-wrap: nowrap;
}

.footer-phone-number {
 text-align: center;
 text-transform: uppercase;
 font-style: normal;
 font-weight: normal;
 font-size: 40px;
 line-height: 40px;
 color: #000000;
 text-decoration: none;
}

/* Catalog */

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat ;
  background-size: 100% auto;
  background-position: center;
}

.inner-header-title {
 font-style: normal;
 font-weight: bold;
 font-size: 60px;
 line-height: 78px;
 color: #FFFFFF;
}

.breadcrumbs {
 list-style: none;
}

.sorting-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs-link {
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.hotel-filter {
  display: flex;

}

.hotel-filter-list {
  list-style: none;
}

.hotel-filter-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.button-apply {
  background: #83B3D3;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}s

.button-reset {
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 23px;
 text-align: center;
 color: #ffffff;
}

.control {
 font-style: normal;
 font-weight: normal;
 font-size: 18px;
 line-height: 23px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-results {
 font-style: normal;
 font-weight: bold;
 font-size: 30px;
 line-height: 39px;
 text-transform: uppercase;
}

.hotel-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.hotel-card-item {
  display: flex;
  flex-direction: column;
}

.hotel-card-link {
 text-decoration: none;
}

.hotel-card-title {
 font-style: normal;
 font-weight: bold;
 font-size: 24px;
 line-height: 31px;
 color: #000000;
}

.hotel-card-button-right {
  border-radius: 4px;
}

.download-more-button {
  text-align: center;
}

.hotel-card-button-right-selected {
 left: 159.06px;
 top: 0;
 background: #7DB54F;
 border-radius: 4px;
}

.search-button-catalog {
 background: #83B3D3;
 border-radius: 4px;
 color: white;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 26px;
 align-items: center;
 text-align: center;
 text-transform: uppercase;
}

.pagination-list {
display: flex;
list-style: none;
flex-direction: row;
}


.pagination-link {
 background: #83B3D3;
 border-radius: 4px;
 text-decoration: none;
 color:white;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 26px;
 align-items: center;
 text-align: center;
 text-transform: uppercase;
}

.pagination-current {
 background: #F2F2F2;
 border-radius: 4px;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
 line-height: 26px;
 align-items: center;
 text-align: center;
 text-transform: uppercase;
 color: #000000;
}

.mailing-catalog {
  text-align: center;
}

.mailing-title-catalog {
 text-align: center;
 text-transform: uppercase;
 color: #000000;
 font-style: normal;
 font-weight: bold;
 font-size: 30px;
 line-height: 36px;
}

.mailing-description-catalog {
 font-style: normal;
 font-weight: normal;
 font-size: 22px;
 line-height: 26px;
 text-align: center;
 color: #333333;
}

.visually-hidden {
 position: absolute;
 clip:  rect(1px, 1px, 1px, 1px);
 padding: 0;
 border: 0;
 height: 1px;
 width: 1px;
 overflow: hidden;
}

/*Интерактивные элементы*/

input  {
 font-family: inherit;
}
