@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: white;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  position: relative;
}

.navigation-logo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  position: relative;
  white-space: nowrap;
  padding: 20px 0;
  display: block;
}

.navigation-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 0 0 185px;
  padding: 0;
}

.navigation-item {
  padding-left: 0;
  padding-right: 35px;
}

.navigation-link-current:after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
}

.navigation-user {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  align-items: center;
}

/* кнопка Хочу сюда! */

.navigation-user-button {
  display: block;
  background-color: #756257;
  border-radius: 4px;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  min-width: 160px;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;

  margin-left: 20px;
}

.navigation-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 42px;
}

.navigation-user-link span {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  background: #7db54f;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  color: #ffffff;
  height: 20px;
  right: -2px;
  top: -9px;
}

.main-index-background {
  padding: 51px 371px 82px;
  background-image: url("../images/index-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.main-index-background::after {
  content: "";
  width: 100%;
  display: block;
  height: 57px;
  background: url("../images/background-cut.svg") bottom center no-repeat;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.welcome-index-title {
  text-align: center;
  text-transform: uppercase;
}

.under-background-text {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 58px;
  padding-left: 230px;
  padding-right: 230px;
  line-height: 36px;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
}

.advantages-container {
  display: flex;
  margin: 0 auto;
}

.aside-image {
  display: block;
}

.advantages {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  width: 1200px;
  margin: 0;
}

.advantage-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Самые последние преимущества в index.html */

.advantage-item:nth-child(3) {
  width: 33.33%;
  padding: 80px 80px 80px 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(3) .advantage-description {
  color: black;
  width: 300px;
  margin-left: -25px;
}

.advantage-item:nth-child(3) .advantage-title {
  color: black;
}

.advantage-item:nth-child(3) .advantage-number {
  color: black;
  margin-left: 25px;
}

.advantage-item:nth-child(4) {
  width: 33.33%;
  padding: 80px 80px 80px 80px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(4) .advantage-description {
  color: black;
  width: 250px;
}

.advantage-item:nth-child(4) .advantage-title {
  color: black;
}

.advantage-item:nth-child(4) .advantage-number {
  color: black;
  margin-left: 25px;
}

.advantage-item:nth-child(5) {
  width: 33.33%;
  padding: 80px 80px 80px 80px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(5) .advantage-description {
  color: black;
  width: 255px;
}

.advantage-item:nth-child(5) .advantage-title {
  color: black;
}

.advantage-item:nth-child(5) .advantage-number {
  color: black;
  margin-left: 25px;
}
.advantage-index-title {
  font-weight: 400;
  font-style: normal;
  margin-top: 32px;

  font-size: 22px;
  line-height: 36px;
  color: #333333;
  text-align: center;
}

.advantage-content {
  text-align: center;
  padding: 75px 70px 66px 95px;
  background-color: #83b3d3;
}

.advantage-title-sedona {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.advantage-title-bridge {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  width: 172px;
  margin-left: 20px;
}

.advantage-title-square {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  margin-top: 20px;
}

.advantage-title-road {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  width: 100px;
  margin-left: 64px;
  margin-top: 20px;
}

.advantage-title-tourists {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  width: 100px;
  margin-left: 60px;
  margin-top: 20px;
  width: 120px;
}

.advantage-number {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
  padding-right: 26px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.advantage-description {
  font-style: normal;
  padding-top: 10px;
  font-weight: 400;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: white;
}

.tips {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tips-item {
  width: 33.33%;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 75px;
  min-height: 384px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tips-item:nth-child(2) {
  background-color: #ffffff;
}

.tips-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  max-width: 250px;
}

.tips-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 23px 0 20px 0;
}

.tips-item:before {
  display: block;
  background-repeat: no-repeat;
}

.tips-item-resident:before {
  content: url("../images/home.svg");
}

.tips-item-resident p {
  max-width: 180px;
}

.tips-item-food:before {
  content: url("../images/hamburger.svg");
}

.tips-item-souvenir:before {
  content: url("../images/gift.svg");
}

.search-title {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.search-description {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 750px;
  margin-left: 180px;
}

.search-button {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #756257;
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 130px;
  padding-right: 130px;
  padding-top: -5px;
  padding-bottom: 5px;
}

.mailing-container {
  text-align: center;
  background-image: url("../images/mailing-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 411px;
  padding: 110px;
}

.mailing-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: -35px;
}

.mailing-description {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  width: 500px;
  margin-left: 239px;
  margin-top: 30px;
}

.mailing-form {
  margin-top: 65px;
  border-radius: 0 10px 10px 0;
}

.mailing-button {
  background: #83b3d3;
  border-radius: 0 10px 10px 0;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 72px;
  margin-right: 72px;
}

.footer-social-list {
  display: flex;
  margin-left: -40px;
  margin-top: -5px;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.footer-social-item {
  display: flex;
  padding: 22px;
  flex-wrap: nowrap;
}

.footer-social-item:nth-child(1) {
  background-image: url("../images/twitter.svg");
  background-repeat: no-repeat;
  margin-top: -2px;
}

.footer-social-item:nth-child(2) {
  margin-left: 2px;
  margin-top: -3px;
  background-image: url("../images/facebook.svg");
  background-repeat: no-repeat;
}

.footer-social-item:nth-child(3) {
  margin-left: -4px;
  margin-top: -2px;
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
}

.footer-phone-number {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  margin-right: 15px;
  margin-top: -16px;
}

.footer-href-academy {
  background-image: url("../images/academy.svg");
  background-repeat: no-repeat;
}

/* Catalog */

.inner-header {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 71px;
  padding-left: 71px;
  padding-top: 35px;
  padding-bottom: 86px;

}

.inner-header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin-top: 0;
}

.breadcrumbs {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  list-style: none;
  color: white;
}

.little-house-icon {
  background-image: url("../images/home-bread.svg");
  background-repeat: no-repeat;
}


.little-house-icon::after {
  background-image: url("../images/arrow-bread.svg");
  background-repeat: no-repeat;
}

.button-apply-reset {
  margin-left:20px;

}

.hotel-price-title {
  margin-left: 34px;

}

.sorting-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel-card-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 38px;
}

.hotel-card-item {
  display: grid;
  grid-template-rows: 206px repeat(4, auto);
  row-gap: 16px;
}

.hotel-card-image {
  object-fit: contain;
}


.hotel-filter {
  display: flex;
}

.hotel-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-filter-item {
  margin:11px 0;
}


.control-input + label {
  position: absolute;
  padding-left:19px;
}

.control-input + label::after {
  position: absolute;
}

.hotel-filter-title {

  margin-left:5px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
}


.button-apply {
  background: #83b3d3;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 34px;

}
 .button-reset {
   font-family: inherit;
   background-color: transparent;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   text-align: center;
   color: #ffffff;
}

.hotel-filter-price {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: white;
}

.control {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

}

.hotel-search {
  margin:0;
  width: 1200px;
  height: 417px;
  text-align: center;
  padding: 50px 50px 0 50px;
}

.hotel-search-results {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-type-price {
  margin: 16px 0;
}

.hotel-card-title {
  margin: 16px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.hotel-card-button-right {
  border-radius: 4px;
}

.download-more-button {
  text-align: center;
}

.hotel-card-button-right-selected {
  left: 159.06px;
  top: 0;
  background: #7db54f;
  border-radius: 4px;
}

.hotel-card-type {
  font-family: inherit;
  font-style: normal;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
}

.search-button-catalog {
  background: #83b3d3;
  border-radius: 4px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  list-style: none;
  flex-direction: row;
}

.pagination-link {
  background: #83b3d3;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background: #f2f2f2;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.mailing-catalog {
  text-align: center;
}

.mailing-title-catalog {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.mailing-description-catalog {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/*Интерактивные элементы*/

input {
  font-family: inherit;
}

.control-input {
  width: 20px;
  height: 20px;
  color: white;

}

.hotel-filter-group {
  border: 0;
  padding-left: 0;
  padding-right: 68px;
}

.hotel-filter-group:nth-child(2) {
  border: 0;
  padding-left: 0;
  padding-right: 167px;
}








